{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block body %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} warning alert-dismissible fade show " role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="container">
    <h1>Contact Me </h1>

    <form method="post" action="/contact">
 {% csrf_token %}
    <div class="form-group  mb-3">
        <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">


    </div>
    <div class="form-group mb-3">
  <label for="message" class="form-label">Message</label>
     <textarea class="form-control" id="message" name="message" rows="3"></textarea>
</div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<div class="container mb-3">
            <table class="table">
             <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Email</th>
                    <th scope="col">Message</th>

                </tr>
             </thead>


  <tbody>
      {%for item in enq %}
             <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{item.email}}</td>
                <td>{{item.message}}</td>

             </tr>
      {% endfor %}
  </tbody>
</table>

</div>



{% endblock body %}