{% extends 'base.html' %}
{% block title %} home {% endblock title %}
<h1>NAME: {{name}} </h1>
{% block body %}

<h1>NAME: {{name}} </h1>
<form type = "" method="post">
    {% csrf_token %}
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
<button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock body %}



