{% extends 'base.html' %}
{% block title %} Project {% endblock title %}
{% block body %}
        <table class="table">
             <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Roll No.</th>
                    <th scope="col">Phone</th>
                </tr>
             </thead>


  <tbody>
      {%for item in student_list%}
             <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.address}}</td>
                <td>{{item.roll}}</td>
                <td>{{item.phone}}</td>
             </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock body %}