{% extends 'base.html' %}
{% block title %} about {% endblock title %}
{% block body %}

<div class="container mb -3">
    <h1>Update data  </h1>
    <form method="post">
 {% csrf_token %}
  {{ form }}

        <button class="btn btn-secondary my-3" type="submit">Update</button>
        </form>
</div>

 {% endblock body %}